[mysqld]
port=3306
bind-address=0.0.0.0
user=mysql
pid-file=/var/lib/mysql/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
log-error=/var/log/mysql/error.log

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock
